::selection {
  color: rgb(0, 152, 149);
}
:root {
  --bg: #393939;
  --text: #f9f8f6;
  --pTitle: #acacac;
  --pdesc: #d0d0d0;
  --whoIam: #cbcbcb;
  --secondary: #613dc1;
  --accent: #ffffff;
  --arrow: #000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Gilroy", sans-serif;
}
.githubContri {
  background-color: var(--bg);
}
.githubContri img {
  width: 100%;
}
body {
  width: 100%;
  height: 100%;
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
}
[data-scroll-container] {
  overflow: hidden;
}
#mainTitle {
  font-size: clamp(6rem, 3.4359rem + 8.2051vw, 8rem);
  color: var(--text);
  font-weight: 800;
  width: max-content;
  text-align: center;
  letter-spacing: -0.2rem;
}
#whoIam {
  font-size: clamp(2rem, 0.3974rem + 5.1282vw, 4.5rem);
  font-weight: 800;
  letter-spacing: 0.1rem;
  color: var(--whoIam);
}

#name {
  cursor: pointer;
}
.redMain {
  color: #ff0000;
}
main {
  display: flex;
  position: relative;
  background-color: var(--bg);
  padding: 1rem;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  /* max-height: 100vh; */
  /* position: relative; */
  height: 100vh;
  width: 100%;
}

/* Sound  */
#soundButton {
  position: absolute;
  top: 1rem;
  color: var(--text);
  border: none;
  background-color: var(--bg);
  border-radius: 5px;
  cursor: pointer;
}


/* Nav */
nav {
  height: 5rem;
  display: flex;
  width: 100%;
  position: fixed;
  bottom: 1rem;
  z-index: 99;
  justify-content: center;
  align-items: center;
}
.navbar {
  height: 80%;
  width: 30%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  background-color: #ffffff6c;
  backdrop-filter: blur(4px);
  display: flex;
  padding: 0 1rem;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}
.projecthref {
  color: var(--text);
  font-size: 1.5rem;
  font-weight: 500;
  font-weight: 700;
}
.socialLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#projectSection {
  padding: 1rem;
  width: 100%;
  margin-inline: auto;
  color: var(--text);
  background-color: var(--bg);
}
.ProjectTechStack {
  display: flex;
  gap: 0.7rem;
  width: 100%;
}
.projectDetails {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.projectTitle {
  font-weight: 500;
  font-size: 2rem;
  color: var(--pTitle);
  letter-spacing: 0.1rem;
}
.projectDesc {
  font-size: 1.5rem;
  width: 100%;
  color: var(--pdesc);
}
#projectSection h2 {
  text-transform: capitalize;
  letter-spacing: 0.025em;
  text-align: center;
}
#projectSection a {
  display: inline-block;
  text-decoration: none;
}
#projectSection .projectContainer {
  /* margin-top: 2em; */
  display: flex;
  padding: 1rem 0;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 5rem;
  width: 100%;
}

/*card*/
#projectSection .projectContainer .card-inner {
  position: relative;
  border-radius: 1.25rem;
  width: clamp(18.75rem, 10.7372rem + 25.641vw, 31.25rem);
  height: clamp(15rem, 13.1818rem + 7.2727vw, 18rem);
  border-bottom-right-radius: 0;
  overflow: hidden;
}
/* Arrow Circle */
#projectSection .projectContainer .card .card-inner > .box .icon .iconBox {
  background: var(--accent);
}
#projectSection .projectContainer .card-inner .box {
  width: 100%;
  height: 100%;
  background: var(--bg);
  overflow: hidden;
}

/* Project Img Box */
#projectSection .projectContainer .card-inner .box .imgBox {
  position: absolute;
  inset: 0;
  overflow: hidden;
  aspect-ratio: 5/3;
}

/* Project Image */
#projectSection .projectContainer .card-inner .box .imgBox img {
  width: auto;
  height: 100%;
  object-fit: cover;
}

/* Invereted Corner Border Radius */
#projectSection .projectContainer .card-inner .box .icon::before {
  position: absolute;
  content: "";
  bottom: 0.375rem;
  left: -1.25rem;
  background: transparent;
  width: 1.25rem;
  height: 1.25rem;
  border-bottom-right-radius: 1.25rem;
  box-shadow: 0.313rem 0.313rem 0 0.313rem var(--bg);
}
#projectSection .projectContainer .card-inner .box .icon::after {
  position: absolute;
  content: "";
  top: -1.25rem;
  right: 0.375rem;
  background: transparent;
  width: 1.25rem;
  height: 1.25rem;
  border-bottom-right-radius: 1.25rem;
  box-shadow: 0.313rem 0.313rem 0 0.313rem var(--bg);
}

/* Icon */
#projectSection .projectContainer .card-inner .box .icon {
  position: absolute;
  bottom: -0.375rem;
  right: -0.375rem;
  width: clamp(4.5rem, 3.5385rem + 3.0769vw, 6rem);
  height: clamp(4.5rem, 3.5385rem + 3.0769vw, 6rem);
  background: var(--bg);
  border-top-left-radius: 50%;
}
#projectSection .projectContainer .card-inner .box .icon .iconBox {
  position: absolute;
  inset: 0.625rem;
  background: var(--bg);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-out;
}
#projectSection .projectContainer .card-inner .box .icon:hover .iconBox {
  transform: scale(1.1) rotate(45deg);
}
#projectSection .projectContainer .card-inner .box .icon .iconBox svg {
  fill: var(--arrow);
}

/* Cursor */

/* Media Queries */
@media screen and (width<500px) {
  #projectSection .projectContainer .card-inner {
    max-height: 25lvh;
    width: 90vw;
  }
  .navbar {
    width: 80vw;
  }
}
