.dock-footer {
  position: fixed;
  bottom: 1rem;
  z-index: 99;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 5rem;
}

.dock-nav {
  display: flex;
  justify-content: center;
  background: var(--nav);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: var(--radius);
  padding: 1rem;
}

.dock-ul {
  display: flex;
  height: 2.5rem;
  align-items: flex-end;
  justify-content: center;
  gap: 0.80rem;
}

.dock-link {
  position: relative;
  display: flex;
  border-radius: 10px;
  background-color: #86868600;
  height: 100%;
  width: 100%;
  border: none;
  align-items: center;
  justify-content: center;
}

.dock-icon {
  position: relative;
  height: 80%;
  width: 80%;
}

.dock-item {
  position: relative;
}

.ui-box {
  position: relative;
  height: 100%;
  width: 100%;
}

.dock-indicator {
  position: absolute;
  bottom: -0.625rem;
  left: 50%;
  height: 0.25rem;
  width: 0.25rem;
  transform: translateX(-50%);
  background-color: hsl(0, 0%, 63%);
  border-radius: 50%;
}
