.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  padding: 1.5rem;
}

.project-card {
  background-color: var(--card);
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.card-header h3 {
  margin: 0;
  font-size: 1.5rem;
  color: #fdfdfd;

}

.description {
  font-size: 1rem;
  color: #d0d0d0;
  margin: 0.5rem 0 1rem;
}

.project-image {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 1rem;
  object-fit: cover;
}

.tech-stack {
  margin-top: 1rem;
}

.tech-stack h4 {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #f1f1f1;
}

.tech-stack ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.tech-stack li {
  background-color: #008d60;
  color: #e6e6e6;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  font-size: 0.875rem;
}

.links {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.links a {
  padding: .5rem 1rem;
  border-radius: 5px;
  box-shadow: 0px 2px 3px -1px rgba(211, 211, 211, 0.579), 0px 1px 0px 0px rgba(152, 152, 152, 0.681), 0px 0px 0px 1px rgba(25, 28, 33, .08);
  background-color: var(--accent);
  text-decoration: none;
  color: black;
  font-weight: 500;
}

