@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-accent: var(--accent);
  --color-darkBg: var(--color-darkBg);
  --color-card: var(--card);
  --color-muted: var(--muted);
  --color-darkMuted: var(--darkMuted);
  --color-hover: var(--hover);
  --color-techstack: var(--techstack);
  --color-darkcard: var(--darkcard);
  --color-nav-icon: var(--navIcon);
  --color-stroke: var(--strokeWidth);
  --color-lightborder: var(--border);
  --shadow-sh2: 0 0 0 1px var(--shad, transparent);
  --shadow-sh: 0px 2px 3px -1px rgba(0, 0, 0, 0.1),
    0px 1px 0px 0px rgba(25, 28, 33, 0.02),
    0px 0px 0px 1px rgba(25, 28, 33, 0.08);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

:root {
  --bg: #0b1215;
  --muted: #666666;
  --accent: #00ff00;
  --shad: #00000014;
  --navIcon: #000000dc;
  --techstack: #2d2d2d;
  --darkbg: #0a0a0a;
  --strokeWidth: #ffffff24;
  --card: hsl(0 0% 100%);
  --darkcard: black;
  --hover: #1a1a1a;
  --darkMuted: #a1a1a1;
  --ds-gray-200: hsla(0, 0%, 12%);
  --ds-gray-300: hsla(0, 0%, 16%);
  --ds-gray-400: hsla(0, 0%, 18%);
  --ds-gray-500: hsla(0, 0%, 27%);
  --ds-gray-600: hsla(0, 0%, 53%);
  --ds-gray-700: hsla(0, 0%, 56%);
  --ds-gray-800: hsla(0, 0%, 49%);
  --ds-gray-900: hsla(0, 0%, 63%);
  --ds-gray-1000: hsla(0, 0%, 93%);
  --border: rgba(59, 59, 59, 0.18);
}

* {
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Inter";
}

body {
  display: flex;
  overflow-x: hidden;
  background-image: linear-gradient(to right, #80808012 1px, transparent 1px),
    linear-gradient(to bottom, #80808012 1px, transparent 1px);
  background-size: 40px 40px;
  background-color: var(--bg);
  flex-direction: column;
}

.dot-mask {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
  background-image: radial-gradient(#e5e7eb 1px, transparent 1px);
  background-size: 16px 16px;
  -webkit-mask-image: radial-gradient(
    ellipse 50% 50% at 50% 50%,
    #000 60%,
    transparent 100%
  );
  mask-image: radial-gradient(
    ellipse 50% 50% at 50% 50%,
    #000 60%,
    transparent 100%
  );
}
.dotH1 {
  color: white;
  text-wrap: wrap;
}
.intro {
  line-height: 1.2rem;
}
.cen {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bo {
  border: 1.5px solid red;
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--bg);
}

::-webkit-scrollbar-thumb {
  background: rgb(162, 162, 162);
}
