@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..800&display=swap");
@import "tailwindcss";
@custom-variant dark (&:is(.dark *));

@theme {
  --color-accent: var(--accent);
  --color-darkBg: var(--color-darkBg);
  --color-card: var(--card);
  --color-muted: var(--muted);
  --color-darkMuted: var(--darkMuted);
  --color-hover: var(--hover);
  --color-techstack: var(--techstack);
  --color-darkcard: var(--darkcard);
  --color-nav-icon: var(--navIcon);
  --color-stroke: var(--strokeWidth);
  --color-lightborder: var(--border);
  --shadow-sh2: 0 0 0 1px var(--shad, transparent);
  --shadow-sh:
    0px 2px 3px -1px rgba(0, 0, 0, 0.1), 0px 1px 0px 0px rgba(25, 28, 33, 0.02),
    0px 0px 0px 1px rgba(25, 28, 33, 0.08);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

:root {
  --bg: rgb(11, 13, 14);
  --muted: oklch(0.5555 0 0);
  --font-jetbrains-mono: "JetBrains Mono", monospace;
  --accent: oklch(0.8664 0.294827 142.4953);
}

* {
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  display: flex;
  overflow-x: hidden;
  font-family: var(--font-jetbrains-mono);
  flex-direction: column;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.001ms !important;
    scroll-behavior: auto !important;
  }
}

.cen {
  display: flex;
  align-items: center;
  justify-content: center;
}
.b {
  border: 1.5px solid red;
}


/* Scroll Bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--bg);
}

::-webkit-scrollbar-thumb {
  background: rgb(162, 162, 162);
}
