@tailwind base;
@tailwind components;
@tailwind utilities;
::selection {
  color: var(--accent);
}
:root {
  --bg: #0b1215;
  --accentText: #d0c3c3e0;
  --subText: #d7d7d7;
  --project: #000;
  --accent: #00ff00;
  --nav: #212427a3;
  --navIcon: #FAF9F6;
  --strokeWidth:#F8F8FF;
  --card: rgba(40, 40, 40, 0.185);
  --padding: 1rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  overflow-x: hidden;
  background-image: linear-gradient(to right, #80808012 1px, transparent 1px),
    linear-gradient(to bottom, #80808012 1px, transparent 1px);
  background-size: 24px 24px;
  background-color: var(--bg);
  flex-direction: column;
}

main {
  margin-top: 10vh;
  display: flex;
  background: var(--bg);
  padding: var(--padding);
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

footer {
  height: 10vh;
  width: 100%;
  display: flex;
  padding: 0 2rem;
  justify-content: flex-end;
  align-items: center;
}
footer p {
  color: white;
  margin-left: 2rem;
  text-align: right;
}
footer a {
  color: var(--accent);
  cursor: pointer;
}
.dot-mask {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
  background-image: radial-gradient(#e5e7eb 1px, transparent 1px);
  background-size: 16px 16px;
  -webkit-mask-image: radial-gradient(
    ellipse 50% 50% at 50% 50%,
    #000 60%,
    transparent 100%
  );
  mask-image: radial-gradient(
    ellipse 50% 50% at 50% 50%,
    #000 60%,
    transparent 100%
  );
}
.dotH1 {
  color: white;
  text-wrap: wrap;
}

#dock {
  position: fixed;
  bottom: 0.5rem;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  border: none;
  z-index: 1000;
}

nav {
  display: flex;
  background: var(--nav);
  padding: 0.5rem;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  justify-content: space-evenly;
  align-items: center;
  gap: 0.7rem;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 9999px;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3rem;
}

.project-card {
  background-color: var(--card);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  flex-direction: column;
}

.dock-icon {
  height: 50%;
  width: 50%;
}

.bo {
  border: 1.5px solid red;
}

.projectlink {
  @apply flex items-center gap-1 md:text-xs text-sm font-semibold px-2 py-1 rounded-lg bg-accent text-slate-800;
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--bg);
}

::-webkit-scrollbar-thumb {
  background: rgb(162, 162, 162);
}

/* Media Queries */
@media screen and (width<500px) {
  #projectSection .projectContainer .card-inner {
    max-height: 25lvh;
    width: 90vw;
  }
  #whoIam {
    text-align: center;
  }
  .btn {
    transform: translate(-50%, 240%);
  }
}
