@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-accent: var(--accent);
  --color-darkBg: var(--color-darkBg);
  --color-card: var(--card);
  --color-muted: var(--muted);
  --color-darkMuted: var(--darkMuted);
  --color-hover: var(--hover);
  --color-techstack: var(--techstack);
  --color-darkcard: var(--darkcard);
  --color-nav-icon: var(--navIcon);
  --color-stroke: var(--strokeWidth);
  --color-lightborder: var(--border);
  --shadow-sh2: 0 0 0 1px var(--shad, transparent);
  --shadow-sh: 0px 2px 3px -1px rgba(0, 0, 0, 0.1),
    0px 1px 0px 0px rgba(25, 28, 33, 0.02),
    0px 0px 0px 1px rgba(25, 28, 33, 0.08);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

:root {
  --bg: oklch(0.1572 0.0039 229.1);
  --muted: oklch(0.5555 0 0);
  --accent: oklch(0.8664 0.294827 142.4953);
}

* {
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Inter";
}

body {
  display: flex;
  overflow-x: hidden;
  background-image: linear-gradient(to right, #4a4a4a12 1px, transparent 1px),
    linear-gradient(to bottom, #49494912 1px, transparent 1px);
  background-size: 40px 40px;
  background-color: var(--bg);
  flex-direction: column;
}

.dot-mask {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
  background-image: radial-gradient(#e5e7eb 1px, transparent 1px);
  background-size: 16px 16px;
  -webkit-mask-image: radial-gradient(
    ellipse 50% 50% at 50% 50%,
    #000 60%,
    transparent 100%
  );
  mask-image: radial-gradient(
    ellipse 50% 50% at 50% 50%,
    #000 60%,
    transparent 100%
  );
}

.intro {
  line-height: 1.2rem;
}
.cen {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bo {
  border: 1.5px solid red;
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--bg);
}

::-webkit-scrollbar-thumb {
  background: rgb(162, 162, 162);
}
