::selection {
  color: rgb(0, 152, 149);
}
:root {
  --bg: #5928e5;
  --accentText: #fff;
  --pTitle: #f3f2ff;
  --secondary: #200b6a;
  --accent: #00ff00;
  --nav: #200b6a4d;
  --padding: 1rem;
  --radius: 28px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Gilroy", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  overflow-x: hidden;
  background-color: var(--bg);
  flex-direction: column;
}
[data-scroll-container] {
  overflow: hidden;
}
#mainTitle {
  font-size: clamp(6rem, 3.4359rem + 8.2051vw, 8rem);
  color: var(--accentText);
  font-weight: 800;
  width: fit-content;
  text-align: center;
  letter-spacing: -0.3rem;
}
#whoIam {
  font-size: clamp(2rem, 1.359rem + 2.0513vw, 3rem);
  font-weight: 800;
  text-align: center;
  width: fit-content;
  letter-spacing: 0.1rem;
  color: var(--accentText);
}
#name {
  cursor: pointer;
  color: var(--accent);
}
.redMain {
  font-weight: bold;
  color: var(--accent);
}
.cleanMinimal {
  color: var(--accent);
}
main {
  display: flex;
  position: relative;
  background: var(--bg);
  padding: var(--padding);
  text-align: center;
  justify-content: center;
  flex-direction: column;
  /* max-height: 100vh; */
  /* position: relative; */
  height: 100vh;
  width: 100%;
}


/* Sound  */
#soundButton {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: transparent;
  cursor: pointer;
}

#aboutmeSection {
  height: 90dvh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutme {
  font-size: clamp(1.5rem, 1.1795rem + 1.0256vw, 2rem);
  padding: 1rem;
  letter-spacing: 2px;
  color: var(--accentText);
  /* border: 1.5px solid red; */
}

#projectSection {
  padding: var(--padding);
  width: 100%;
  margin-inline: auto;
  color: var(--text);
  background: var(--bg);
}
.projectsInfoLinks {
  display: flex;
  justify-content: space-between;
}
.projectLinks {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.projectDetails {
  width: 100%;
  background-color: var(--secondary);
  padding: var(--padding);
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.projectTitle {
  font-weight: 500;
  font-size: 1.8rem;
  color: var(--pTitle);
}
.projectDesc {
  width: 100%;
  font-size: 1.1rem;
  color: var(--accent);
}

#projectSection a {
  display: inline-block;
  text-decoration: none;
}
#projectSection .projectContainer {
  /* margin-top: 2em; */
  display: flex;
  padding: var(--padding) 0;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
}

/*card*/
.card {
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  border-radius: var(--radius);
  box-shadow: rgba(255, 255, 255, 0.2) 0px 12px 28px 0px,
    rgba(255, 255, 255, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
}
.card:hover {
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  -moz-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  box-shadow: 2px 4px 16px #ffffffa1;
  transform: scale3d(1.01, 1.01, 1.01);
}

#projectSection .projectContainer .card-inner {
  position: relative;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  width: clamp(18.75rem, 10.7372rem + 25.641vw, 31.25rem);
  height: clamp(15rem, 13.1818rem + 7.2727vw, 18rem);
  overflow: hidden;
}

/* Project Img Box */
#projectSection .projectContainer .card-inner .box .imgBox {
  position: absolute;
  inset: 0;
  overflow: hidden;
  aspect-ratio: 5/3;
}

/* Project Image */
#projectSection .projectContainer .card-inner .box .imgBox img,
.imgBox video {
  width: auto;
  height: 100%;
  object-fit: cover;
}

footer {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainBg {
  justify-content: center;
  display: inline-flex;
  width: 100%;
  overflow: hidden;
  position: relative;
}
li {
  list-style-type: none;
}
/* .bgShape1 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  filter: blur(120px);
  opacity: 0.5;
  transform: scale(1);
  animation-timing-function: ease-in-out;
  will-change: transform, opacity, top, right;
}

.bgShape1 {
  background-color: var(--accent);
  animation: moveShape1 12s infinite linear alternate;
} */

.projectIntro {
  font-size: 3rem;
  font-weight: 800;
  color: var(--accent);
  text-align: center;
}

/* @keyframes moveShape1 {
  0% {
    right: 100px;
    top: -50px;
    transform: scale(1);
    opacity: 0.6;
  }
  25% {
    right: -80px;
    top: 100px;
    transform: scale(1.2);
    opacity: 0.7;
  }
  50% {
    right: 50px;
    top: 150px;
    transform: scale(0.8) rotate(45deg);
    opacity: 0.5;
  }
  75% {
    right: 200px;
    top: 50px;
    transform: scale(1.1) rotate(90deg);
    opacity: 0.8;
  }
  100% {
    right: 0px;
    top: -50px;
    transform: scale(1) rotate(0deg);
    opacity: 0.6;
  }
} */

/* Media Queries */
@media screen and (width<500px) {
  #projectSection .projectContainer .card-inner {
    max-height: 25lvh;
    width: 90vw;
  }
  .navbar {
    width: 80vw;
  }
  .bgShape1,
  .bgShape2 {
    width: 150px;
    height: 150px;
    filter: blur(60px);
  }
}
